@font-face {
	font-family: 'Atlas Grotesk Web-Regular';
	src: url('atlas/Atlas Grotesk Web-Regular.eot');
	src: url('atlas/Atlas Grotesk Web-Regular.eot?#iefix') format('embedded-opentype'),
		 url('atlas/Atlas Grotesk Web-Regular.woff') format('woff'),
		 url('atlas/Atlas Grotesk Web-Regular.ttf') format('truetype'),
		 url('atlas/Atlas Grotesk Web-Regular.svg#Atlas Grotesk Web') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Atlas Grotesk Web-Bold';
	src: url('atlas/Atlas Grotesk Web-Bold.eot');
	src: url('atlas/Atlas Grotesk Web-Bold.eot?#iefix') format('embedded-opentype'),
		 url('atlas/Atlas Grotesk Web-Bold.woff') format('woff'),
		 url('atlas/Atlas Grotesk Web-Bold.ttf') format('truetype'),
		 url('atlas/Atlas Grotesk Web-Bold.svg#Atlas Grotesk Web') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Atlas Grotesk Web';
	src: url('atlas/Atlas Grotesk Web-Black.eot');
	src: url('atlas/Atlas Grotesk Web-Black.eot?#iefix') format('embedded-opentype'),
		 url('atlas/Atlas Grotesk Web-Black.woff') format('woff'),
		 url('atlas/Atlas Grotesk Web-Black.ttf') format('truetype'),
		 url('atlas/Atlas Grotesk Web-Black.svg#Atlas Grotesk Web') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Atlas Typewriter Web';
	src: url('atlas/Atlas Typewriter Web-Regular.eot');
	src: url('atlas/Atlas Typewriter Web-Regular.eot?#iefix') format('embedded-opentype'),
		 url('atlas/Atlas Typewriter Web-Regular.woff') format('woff'),
		 url('atlas/Atlas Typewriter Web-Regular.ttf') format('truetype'),
		 url('atlas/Atlas Typewriter Web-Regular.svg#Atlas Typewriter Web') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Atlas Typewriter Web';
	src: url('atlas/Atlas Typewriter Web-Black.eot');
	src: url('atlas/Atlas Typewriter Web-Black.eot?#iefix') format('embedded-opentype'),
		 url('atlas/Atlas Typewriter Web-Black.woff') format('woff'),
		 url('atlas/Atlas Typewriter Web-Black.ttf') format('truetype'),
		 url('atlas/Atlas Typewriter Web-Black.svg#Atlas Typewriter Web') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
}